/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:ital,wght@0,100;0,700;0,800;1,700;1,800&family=Noto+Sans+JP&family=Poppins:wght@400;500;600&display=swap'); */
.owl-carousel .nav-btn {
    height: 30em;
    position: absolute;

    cursor: pointer;
    top: 13em;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: block;
}

.owl-carousel .prev-slide {
    left: -2.4em;


}

.owl-carousel .next-slide {

    right: -2.4em;
}


.header-container {
    width: 100%;
    background-image: linear-gradient(to right top, #ccd3ff, #ccd3ff, #ede4ff, #ede4ff);


}

header .header-container__navigation {
    width: 95%;
    margin: 0 auto;

}



.header-container .navbar-nav__item {
    margin: 0 15px;
    color: #000;

}

.header-container .nav-link {
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.35em;
    width: 100%;

}

.header-container .nav-link:hover {
    border-bottom: 2px solid black;
}

.hoverActive {
    border-bottom: 2px solid black;

}

.header-container .navigation__logo img {
    width: 6em;
    object-fit: cover;
    object-position: center;

}

.header-container .navigation__logo .img2 {

    object-fit: cover;
    object-position: center;
    width: 6em;

}

.header-container .header-container__navigation button {
    color: #87469c
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    visibility: hidden;
    padding: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content li {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;

    padding: 0.5em;
    text-align: left;
}

.dropdown-content li a {
    font-weight: 600;
    text-transform: uppercase;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content li :hover {
    background-image: linear-gradient(to right top, #ccd3ff, #ccd3ff, #ede4ff, #ede4ff);

    color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    visibility: visible;
}

/* Add this block of CSS for the animation */
@keyframes fadeInside {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 600px) {
    /* Existing styles for mobile view */

    .navbar-nav .dropdown-content {
        animation: fadeInside 3s ease-out;
        position: static;
        right: 0%;
        width: 100%;
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .navbar-nav .dropdown:hover .dropdown-content {
        display: inline-block;
        height: 100%;
        opacity: 1;
        visibility: visible;
    }
}



.banner {

    width: 100%;
}

.banner img {

    width: 100%;




}

.headline {
    margin: 0px auto;
    width: 60%;
}

.best-seller img {
    width: 100%;

    object-position: center;

}


.best-seller .container-carousel {

    margin-top: 40px;
}


.carousel-control-prev {
    left: -20px;
}

.best-seller .owl-carousel .card-purple {
    background-image: linear-gradient(#c4a1f5, #f4e7ff, #f4e7ff);
    border: 3px solid #fff;
    border-radius: 20px;
}

.card-content {
    margin: 0 10px;
    padding: 10px 0;

}

.card-content .card-img-top {
    /* width: 50%; */
    height: 280px;
    margin-bottom: 2em;
    object-position: center bottom;
    object-fit: none;
}



.card-content .purple-category {
    width: 7em;

    padding-top: 5px;
    padding-bottom: 5px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-left: 8px;
    color: white;
    box-shadow: rgba(115, 111, 255) 3px 2.5px;
    font-weight: 900;

    text-transform: uppercase;
    background-color: #766dff;
    border: 3px solid white;
    font-style: italic;


}

.card-content .green-category {
    width: 7em;


    padding-top: 5px;
    padding-bottom: 5px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-left: 8px;
    color: white;
    font-style: italic;
    font-weight: 900;

    box-shadow: rgba(0, 191, 0, 0.4) 3px 2.5px;
    text-transform: uppercase;
    background-color: #01b700;
    border: 3px solid white;
}

.card-body .purple-text {
    color: #8c4da1;
    font-weight: 900;
}

.card-body .green-text {
    color: #01b700;
    font-weight: 900;

}

.card-body .btn {
    border-top-left-radius: 25px;
    padding: 0.5em 1em;
    color: white;
    border: 3px solid #fff;
    border-bottom-right-radius: 25px;

}

.card-body .btn-purple {
    background: linear-gradient(to right, #c5a1f5, #c59ef6, #c98cfe);
}

.card-body .btn-green {
    background: linear-gradient(to right, #76be83, #5db36a, #38a041);
}

.Breakthrough-formula .Breakthrough-formula_container {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2.7em;
    border-radius: 20px;

}

.Breakthrough-formula_container img {
    width: 70%;
}


.product {
    width: 100%;
    margin: 0 auto;


    display: flex;
    flex-direction: column;
}

.product .headline img {
    width: 100%;
    object-position: center;
}


.product .owl-carousel .card-product-item {
    position: relative;
    padding: 5px;
    border-radius: 20px;
}

.product .owl-carousel .card-product-item .card-product-action {
    position: absolute;
    bottom: 5px;
    left: 3.5px;

    right: 5px;
    width: 98.9%;


}

.product .owl-carousel .card-product-item img {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 35em;
    object-fit: cover;

    border-top-left-radius: 20px;

}


.product .owl-carousel .card-product-item .green-bg {
    background-color: #daefc8;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 0.95;


}

.product .owl-carousel .purple-bg {
    background-color: #dfc3fa;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 0.95;


}

.product .owl-carousel .card-product-item .card-product-action p {
    -webkit-text-stroke-width: 1.5px;
    font-style: italic;
    font-size: 33px;
    width: 90%;
    padding-left: 10px;
    text-align: left;
    -webkit-text-stroke-color: #01b700;
    opacity: 0.95;
    font-weight: 900;

    font-family: 'Kanit', sans-serif;
}

.product .owl-carousel .card-product-item .purple-bg p {
    -webkit-text-stroke-width: 1.5px;
    font-style: italic;
    font-size: 33px;
    width: 90%;
    font-weight: 900;
    font-family: 'Kanit', sans-serif;
    -webkit-text-stroke-color: #353980;
}

.product .owl-carousel .card-product-item .card-product-action .button-action .btn {

    width: 45%;
    font-weight: 900;
    padding: 0.5em 1em;
    color: white;

}

.product .owl-carousel .card-product-item .card-product-action .button-action .darkgreen {
    background-color: #036040;
    border-top-left-radius: 20px;
    border: 3px solid white;
}

.product .owl-carousel .card-product-item .card-product-action .button-action .normalgreen {
    border: 3px solid white;
    background-color: #5a985f;
    border-bottom-right-radius: 20px;
}





.product .owl-carousel .card-product-item .card-product-action .button-action .darkpurple {
    background-color: #353980;
    border-top-left-radius: 20px;
    border: 3px solid white
}

.product .card-product-item .card-product-action .button-action .normalpurple {
    background-color: #9077b5;
    border-bottom-right-radius: 20px;
    border: 3px solid white;
}


.product .youtube {
    position: relative;
    width: 60%;
    height: 26em;
    margin: 10px auto;
    padding-top: 20%;
}

.product .youtube iframe {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 5px solid #fff;
    border-radius: 20px;

}

.feedback>.container {

    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

.feedback .container .card-user {

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.feedback .container .card-user img {
    width: 30%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.feedback .container .card-user h4 {
    color: #87469c;

}

.feedback .container .card-user .card-text {
    font-weight: 600;
    padding: 0.1em;
    /* background-color: #036040; */
    /* text-align: left; */
    /* background-color: #01b700; */
    color: #87469c;
}

.feedback .container .card-user .card-body {
    margin: 0 20px;
}

.feedback .container .card-user .card-body p {
    margin: 20px 0;

}

.yellow {
    color: #ffb211;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 3px;
}

.fa-star {
    font-size: 25px;
}

.feedback .slider {
    -webkit-appearance: none;
    width: 30%;
    /* Adjust this value based on your layout */
    height: 25px;
    margin: 20px auto;
    /* Adjust margin for spacing */
    border: 2px solid #fff;
    background: #8987ff;
    outline: none;
    border-radius: 10px;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.feedback .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 60px;
    border-radius: 8px;
    height: 18px;
    background: #fff;
    cursor: pointer;
}

.feedback .card-user .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}



.latestupdate .owl-carousel .card {
    height: 300px;
    padding:0;
    border: 3px solid #fff;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

footer {

    background-image: linear-gradient(to right top, #ccd3ff, #ccd3ff, #ede4ff, #ede4ff);
    min-height: 250px;
    padding: 10px 0;
    position: relative;
    bottom: 0;
}

footer .container-footer {
    bottom: 0;

}


footer .container div p {
    font-size: 14px;
    margin: 0 10px;
    color: #595959;
    font-weight: 600;
}

footer .container div ul {
    display: flex;
    list-style-type: none;
    font-size: 14px;

}

footer .container div ul li {
    margin: 10px 5px;
    font-weight: 600;
    cursor: pointer;

}

footer .container div ul li a {
    color: #5c3bac;
    text-decoration: none;
}

footer .container div ul li:after {
    content: "|"
}

footer .container div ul li:last-child:after {
    content: ""
}



.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.loaded {
    opacity: 1;
}

.popup {
    top: -50%;
    font-size: 20px;
    right: 0em;
    z-index: 70;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content:center ;
}
.togglepopup{
    display: none;
}
.popup img {
    width: 70%;
}

.carousel-inner {
    padding: 1em;
}

.card {
    margin: 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}