.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
    margin: 5px 7px;
    background: #fff;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #bfa5ff;
}

.Natural .card-purpleDarkLinear {
    cursor: pointer;
    background: linear-gradient(to bottom right, #f6c9fd, #e9feee);
}

.Natural .card-purpleNormalLinear {
    cursor: pointer;
    background: linear-gradient(to bottom, #fbfbff, #fbfbff, #f6c9fd);

}

.Natural .banner {

    width: 100%;
}

.Natural .banner img {

    width: 100%;




}

.Natural .fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.Natural .fade-in.loaded {
    opacity: 1;
}

.Natural .headline {
    margin: 0px auto;
    width: 60%
}

.Natural .header-container {
    width: 100%;
    background-image: linear-gradient(to right top, #ccd3ff, #ccd3ff, #ede4ff, #ede4ff);


}

header .header-container__navigation {
    width: 95%;
    margin: 0 auto;

}

.header-container__navigation button {
    color: #87469c
}


.header-container .navbar-nav__item {
    margin: 0 15px;
    color: #000;

}

.header-container .nav-link {
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.35em;

}

.header-container .nav-link:hover {
    border-bottom: 2px solid black;
}

.hoverActive {
    border-bottom: 2px solid black;

}

.header-container .navigation__logo img {
    width: 6em;
    object-fit: cover;
    object-position: center;

}

.header-container .navigation__logo .img2 {

    object-fit: cover;
    object-position: center;
    width: 6em;

}

.dropdown-content {
    visibility: hidden;
    padding: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content li {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;

    padding: 0.5em;
    text-align: left;
}

.dropdown-content li a {
    font-weight: 600;
    text-transform: uppercase;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content li :hover {
    background-image: linear-gradient(to right top, #ccd3ff, #ccd3ff, #ede4ff, #ede4ff);

    color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    visibility: visible;
}

/* Add this block of CSS for the animation */
@keyframes fadeInside {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 600px) {
    /* Existing styles for mobile view */

    .navbar-nav .dropdown-content {
        animation: fadeInside 3s ease-out;
        position: static;
        right: 0%;
        width: 100%;
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .navbar-nav .dropdown:hover .dropdown-content {
        display: inline-block;
        height: 100%;
        opacity: 1;
        visibility: visible;
    }
}


body {
    height: 1000px;

}

 .btn {
    height: 100%;
    border-radius: 20px;
}

/* Remove border from input */
.Natural .input-container .form-control {
    border-left: 2px solid #644fa5;
    border-right: 2px solid #644fa5;
    padding: 2em;
    border-radius: 20px;


}

.Natural .form-control:focus {
    outline: none;
}

/* Remove border from div */
.Natural .input-container .icon {
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Natural .banner img {
    object-fit: cover;

    object-position: center;
}

.Natural .input-container {
    height: 70px;
    border-radius: 30px;
    background-color: #ffffff;

}

.Natural .input-container .icon {
    color: #644fa5;
}

.Natural .input-container button {
    color: #644fa5;
    font-weight: bold;
}

.Natural .container-tab .button-tab-action .btn {

    margin: 0 10px;
    padding: 0.4em 1em;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 3px solid #fff;

}

.Natural .container-tab .button-tab-action .btn-normalpurple {
    background: linear-gradient(to bottom right, #f6c9fd, #e9feee, #e9feee, #e9feee);
    text-decoration: underline;
    color: #644fa5;

}

.Natural .container-tab .button-tab-action .btn-darkpurple {
    color: #644fa5;
    background-color: #f4edff;
}

.Natural .tab-slider-gallery {
    padding: 10px;

}

.Natural .tab-slider-gallery .container-slider-image {
    border-radius: 20px;
    max-height: 45em;
    overflow: hidden;

    border: 5px solid #fff;
    margin: 0;
    background: linear-gradient(to bottom, #fbfbff, #fbfbff, #f6c9fd);

}

.Natural .tab-slider-gallery .container-slider-image img {
    max-width: 100%;
    object-fit: cover;
    height: 30em;
    /* Adjust this value based on your preference */
    display: block;
}

.Natural .tab-slider-gallery .container-tabs .card-body {
    border: 3px solid white;
    height: 14em;
    display: flex;
    justify-content: center;
    background-color: #a3a2ff;
    border-radius: 20px;
}

.Natural .tab-slider-gallery .container-tabs .card-body img {

    margin: 0 auto;
    object-fit: scale-down;
    height: 100%;
}

.Natural .description-containers {
    border: 5px solid #fff;
    border-radius: 20px;
    padding: 0.1em;
}

.Natural .description-containers .description-containers_div {
    height: 100%;
    padding: 1.8em;
    width: 100%;
    /* background-color: aqua;  */
    outline: none;

    box-shadow: inset 0px 0px 7px 7px #fff;
    border-radius: 20px;
}

.Natural .description-containers .description-containers_div .description-containers_title .Natural {
    width: 90%;
    padding: 0.2em;

    font-style: italic;
}

.Natural .description-containers .description-containers_div .description-containers_title h3 {
    font-size: 1.6em;
    font-weight: 900;
    line-height: 1.3;
}

.Natural .description-containers .description-containers_div .description-containers_content {

    overflow-y: scroll;
    overflow-x: hidden;
}

.Natural .description-containers .description-containers_div .description-containers_content {

    height: 320px;
    /* scrollbar-width: thin; */
    scrollbar-color: #c3adff;
    margin: 5px;
}

.Natural .description-containers .description-containers_div .description-containers_content::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 1px solid #c3adff;
    margin: 6em;


}

.Natural .description-containers .description-containers_div .description-containers_content::-webkit-scrollbar {
    width: 20px;



}

.Natural .description-containers .description-containers_div .description-containers_content::-webkit-scrollbar-thumb {
    background-color: #a195f2;
    border-radius: 20px;
    padding: 10px;

}

.Natural .description-containers .description-containers_div .description-containers_content .content-div {
    position: relative;
    margin: 1em 2em;

    display: flex;
    flex-direction: column;


}

.Natural .description-containers .description-containers_div .description-containers_content .content-div p {
    font-weight: 600;
    font-size: 0.875em;


}

.Natural .content-div ul {
    padding: 0;
}

.Natural .content-div li::before {
    content: "-";
    margin-right: 1em;

}

.Natural .content-div li {
    font-weight: 600;
    list-style-type: none;
    margin: 10px 0;
    font-size: 0.9em;
    font-size: 0.875em;




}

.Natural .description-containers .description-containers_div .description-containers_content .content-div::before {
    content: "";
    height: 5px;
    width: 90%;
    top: -1.2em;
    display: block;
    background-color: #a3a2ff;
    position: absolute
}

.Natural .description-containers .description-containers_div .button-action {
    margin-top: 3.6em;


    font-style: italic;
}

.Natural .description-containers .description-containers_div .button-action .btn {
    padding: 0.8em 0em;
    color: #5d479c;
    font-weight: 500;
    text-align: center;
}

.Natural .description-containers .description-containers_div .button-action .price {
    color: #5d479c;
    font-weight: 900;
    padding: 0.6em 0em;
    align-items: center;
    display: flex;
    justify-content: center;
}

.Natural .description-containers .description-containers_div .button-action .darkpink {
    background-image: linear-gradient(to right bottom, #fdc0ff, #facdf8, #facdf8, #facdf8, #facdf8, #e8ffed);
    border-top-left-radius: 20px;
    border: 2px solid #65479d;
    width: 100%;
}

.Natural .description-containers .description-containers_div .button-action .normalgreen {
    border: 2px solid #65479d;
    width: 100%;

    background-image: linear-gradient(to bottom right, #FDC0FF, #e8ffed, #e8ffed, #e8ffed);



    border-bottom-right-radius: 20px;
}

.Natural .section {
    border: 3px solid white;
    border-radius: 10px;

    padding: 4px;

}

.Natural .section .section-content {
    box-shadow: inset 0px 0px 8px 8px #fff;
    border-radius: 10px;
    padding: 8px;
}

.Natural .section .section-content .section-content_title {
    font-size: 2.2em;
    text-transform: uppercase;

    font-weight: 900;
}


.Natural .section .section-content .section-content_list .list .section-content-list_item {
    list-style: none;
    font-weight: 600;
    font-size: 1.3em;

    text-align: justify;
}

.Natural .section .section-content .section-content_list .list .section-content-list_item::before {
    content: "-";
    margin: 0 10px;
}

.Natural .section .section-content .section-content_list .result {
    font-style: italic;
    font-weight: 500;
    font-size: 1.2em;

}

.Natural .productList {
    margin-top: 5em;
}

.Natural .productList .productlist-container .card-content {
    padding-top: 12px;
    position: relative;
    width: 22em;
    margin: 0 10px;

}

.Natural .productList .productlist-container .card-content .card-img-top {
    /* width: 50%; */
    width: 80%;
    height: 20em;
    margin-top: 1em;
    object-fit: cover;
}

.Natural .productList .productlist-container .card .bottom {

    object-position: center;

}

.Natural .productList .productlist-container .card-content .green-category {
    width: 7em;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-left: 8px;
    color: white;
    font-weight: 700;
    font-style: italic;
    box-shadow: rgba(0, 191, 0, 0.4) 3px 2.5px;
    text-transform: uppercase;
    background-color: #01b700;
    border: 3px solid white;


}

.Natural .productList .productlist-container .card-purple {
    background-image: linear-gradient(to bottom, #FDC0FF, #f0e9fe, #e8ffed, #e8ffed);
    margin-left: 8px;

    border: 3px solid #fff;
    border-radius: 1.5em;
    padding: 0;
}

.Natural .productList .productlist-container .card-body .purple-text {
    color: #63469c;

}

.Natural .productList .productlist-container .card-body .card-title {

    font-weight: 900;
}

.Natural .productList .productlist-container .card-body p {

    font-weight: 400;
    line-height: 1.2;
}

.Natural .productList .productlist-container .card-body .btn {
    border-top-left-radius: 25px;
    padding: 0.5em 1em;
    border-bottom-right-radius: 25px;
    color: #644fa5;
    border: 3px solid #65479d;
}

.Natural .productList .productlist-container .card-body .btn-purple {
    background-image: linear-gradient(to right, #FDC0FF, #FDC0FF, #e8ffed, #e8ffed);
}

.Natural .feedback>.container {
    border-radius: 20px;


    background-color: rgba(255, 255, 255, 0.3);
}

.Natural .feedback .container .card-user {

    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.Natural .feedback .container .card-user img {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.Natural .feedback .container .card-user h4 {
    color: #87469c;

}

.Natural .feedback .container .card-user .card-text {
    font-weight: 600;
    color: #87469c;
}

.Natural .feedback .container .card-user .card-body {
    margin: 0 20px;
}

.Natural .feedback .container .card-user .card-body p {
    margin: 20px 0;

}

.Natural .yellow {
    color: #ffb211;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 3px;
}

.Natural .fa-star {
    font-size: 25px;
}

.Natural .feedback .slider {
    -webkit-appearance: none;
    width: 30%;
    height: 25px;
    margin: 20px auto;

    background: #8987ff;
    outline: none;
    border-radius: 10px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.Natural .slider:hover {
    opacity: 1;
}

.Natural .feedback .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 60px;
    border-radius: 8px;
    height: 18px;
    background: #fff;
    cursor: pointer;
}

.Natural .feedback .card-user .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.Natural .latestupdate {
    margin: 0px auto;

}

.Natural .latestupdate .latest {
    width: 100%;
    margin: 0 auto;


    display: flex;
    flex-direction: column;
}

.Natural .latestupdate .owl-carousel .card {
    height: 300px;
    padding: 0;
    border: 3px solid #fff;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

.Natural .latestupdate .owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: block;
}

.Natural .latestupdate .owl-carousel .nav-btn {
    height: 30em;
    position: absolute;

    cursor: pointer;
    top: 13em;
}



.Natural .latestupdate .owl-carousel .prev-slide {
    left: -2.4em;


}

.Natural .latestupdate .owl-carousel .next-slide {

    right: -2.4em;
}

.Natural .latestupdate .card-content {
    margin: 0 10px;
    padding: 10px 0;

}

.Natural .latestupdate .card-content .card-img-top {
    /* width: 50%; */
    height: 280px;

    object-position: center top;
    object-fit: none;
}

.Natural .latestupdate .card .bottom {

    object-position: center bottom;

}

footer {

    background-image: linear-gradient(to right top, #ccd3ff, #ccd3ff, #ede4ff, #ede4ff);
    min-height: 250px;
    padding: 10px 0;
    position: relative;
    bottom: 0;
}

footer .container-footer {
    bottom: 0;

}


footer .container div p {
    font-size: 14px;
    margin: 0 10px;
    color: #595959;
    font-weight: 600;
}

footer .container div ul {
    display: flex;
    list-style-type: none;
    color: #5c3bac;
    font-size: 14px;

}

footer .container div ul li {
    margin: 10px 5px;
    font-weight: 600;
    cursor: pointer;
}

footer .container div ul li a {
    color: #5c3bac;
    text-decoration: none;
}

footer .container div ul li:after {
    content: "|"
}

footer .container div ul li:last-child:after {
    content: ""
}


footer .container .popup {
    top: 50%;
    right: 0;
    z-index: 70;
    font-size: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
}


footer .popup img {
    width: 70%;
}