.header-container {
    width: 100%;
    background-image: linear-gradient(to right top, #ccd3ff, #ccd3ff, #ede4ff, #ede4ff);


}

header .header-container__navigation {
    width: 95%;
    margin: 0 auto;

}



.header-container .navbar-nav__item {
    margin: 0 15px;
    color: #000;

}

.header-container .nav-link {
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
    /* font-size: 1.35em; */
    margin: 10px 0;
    width: 100%;

}

.header-container .nav-link:hover {
    border-bottom: 2px solid black;
}

.hoverActive {
    border-bottom: 2px solid black;

}

.header-container .navigation__logo img {
    width: 9em;
    object-fit: cover;
    object-position: center;

}

.header-container .navigation__logo .img2 {

    object-fit: cover;
    object-position: center;
    width: 6em;

}

.header-container .header-container__navigation button {
    color: #87469c
}

.dropdown-content {
    visibility: hidden;
    padding: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content li {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;

    padding: 0.5em;
    text-align: left;
}

.dropdown-content li a {
    font-weight: 600;
    text-transform: uppercase;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content li :hover {
    background-image: linear-gradient(to right top, #ccd3ff, #ccd3ff, #ede4ff, #ede4ff);

    color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    visibility: visible;
}

/* Add this block of CSS for the animation */
@keyframes fadeInside {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 600px) {
    /* Existing styles for mobile view */

    .navbar-nav .dropdown-content {
        animation: fadeInside 3s ease-out;
        position: static;
        right: 0%;
        width: 100%;
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .navbar-nav .dropdown:hover .dropdown-content {
        display: inline-block;
        height: 100%;
        opacity: 1;
        visibility: visible;
    }
}


.container-policy .line {
    height: 3px;
    color: #87469c;
    margin-left: auto;
    margin-right: auto;
}

.container-policy ul {
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}

footer {

    background-image: linear-gradient(to right top, #ccd3ff, #ccd3ff, #ede4ff, #ede4ff);
    min-height: 250px;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer .container-footer {
    bottom: 0;

}


footer .container div p {
    font-size: 14px;
    margin: 0 10px;
    font-weight: 600;
}

footer .container div ul {
    display: flex;
    list-style-type: none;
    color: #5c3bac;
    font-size: 14px;

}

footer .container div ul li {
    margin: 10px 5px;
    font-weight: 600;
    cursor: pointer;

}

footer .container div ul li a {
    color: #5c3bac;
    text-decoration: none;
}

footer .container div ul li:after {
    content: "|"
}

footer .container div ul li:last-child:after {
    content: ""
}





.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.loaded {
    opacity: 1;
}

.popup { 
    top: 50%;
    font-size: 20px;
    right: 0em;
    z-index: 70;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
}



.popup img {
    width: 70%;
}
