.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
    margin: 5px 7px;
    background: #fff;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #bfa5ff;
}

.card-purpleDarkLinear {
    cursor: pointer;
    background: linear-gradient(to bottom right, #a3a2ff, #dacefc, #d2c8fc);
}

.card-purpleNormalLinear {
    cursor: pointer;
    background: linear-gradient(to bottom, #fbfbff, #fbfbff, #d2c8fc);

}
.banner {

    width: 100%;
}

.banner img {

    width: 100%;




}
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.loaded {
    opacity: 1;
}

.headline {
    margin: 0px auto;
    width: 60%
}
.header-container {
    width: 100%;
    background-image: linear-gradient(to right top, #ccd3ff,#ccd3ff,#ede4ff,#ede4ff);


}

header .header-container__navigation {
    width: 95%;
    margin: 0 auto;

}
.header-container__navigation button {
    color:#87469c
}


.header-container .navbar-nav__item {
    margin: 0 15px;
    color: #000;
   
}

.header-container .nav-link {
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.35em;

}
.header-container .nav-link:hover{
    border-bottom:  2px solid black;
}
.hoverActive{
    border-bottom:  2px solid black;

}

.header-container .navigation__logo img {
    width: 6em;
    object-fit: cover;
    object-position: center;

}

.header-container .navigation__logo .img2 {

    object-fit: cover;
    object-position: center;
    width: 6em;

}
.dropdown-content {
    visibility: hidden;
    padding: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content li {
    color: black;
    text-decoration: none;				
    display: block;
    width: 100%;
    
    padding: 0.5em;
    text-align: left;
  }
  .dropdown-content li a {
      font-weight: 600;
      text-transform: uppercase;
  }
  /* Add a grey background to dropdown links on hover */
  .dropdown-content li :hover {
      background-image: linear-gradient(to right top, #ccd3ff, #ccd3ff, #ede4ff, #ede4ff);
  
    color: black;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
      visibility:visible ;
  }
  /* Add this block of CSS for the animation */
  @keyframes fadeInside {
      from {
        opacity: 0;
        transform: translateY(-10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    @media screen and (max-width: 600px) {
      /* Existing styles for mobile view */
    
      .navbar-nav .dropdown-content {
        animation: fadeInside 3s ease-out;
        position: static;
        right: 0%;
        width: 100%;
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
      }
    
      .navbar-nav .dropdown:hover .dropdown-content {
      display: inline-block;
      height: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
    
  
body {
    height: 1000px;

}

.btn {
    height: 100%;
    border-radius: 20px;
}

/* Remove border from input */
.input-container .form-control {
    border-left: 2px solid #644fa5;
    border-right: 2px solid #644fa5;
    padding: 2em;
    border-radius: 20px;


}

.form-control:focus {
    outline: none;
}

/* Remove border from div */
.input-container .icon {
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    object-fit: cover;
    object-position: center;
}

.input-container {
    height: 70px;
    border-radius: 30px;
    background-color: #ffffff;

}

.input-container .icon {
    color: #644fa5;
}

.input-container button {
    color: #644fa5;
    font-weight: bold;
}

.container-tab .button-tab-action .btn {

    margin: 0 10px;
    padding: 0.4em 1em;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 3px solid #fff;

}

.container-tab .button-tab-action .btn-normalpurple {
    background-color: #f4edff;
    color: #644fa5;

}

.container-tab .button-tab-action .btn-darkpurple {
    text-decoration: underline;
    color: #fff;
    background-color: #cab2ff;
}


.content-div ul{
    padding :0;
}

.content-div li::before {
    content: "-";
    margin-right: 1em;

}

.content-div li {
    font-weight: 600;
    text-justify: inter-word;
    list-style-type: none;
    font-size: 0.9em;
    font-size: 0.875em;




}

.description-containers .description-containers_div .description-containers_content .content-div::before {
    content: "";
    height: 5px;
    width: 90%;
    top: -1.2em;
    display: block;
    background-color: #a3a2ff;
    position: absolute
}

.description-containers .description-containers_div .button-action {
    margin-top: 3.6em;


    font-style: italic;
}

.description-containers .description-containers_div .button-action .btn {
    padding: 0.8em 0em;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

.description-containers .description-containers_div .button-action .price {
    color: #fff;
    font-weight: 900;
    padding: 0.6em 0em;
    align-items: center;
    display: flex;
    justify-content: center;
}

.description-containers .description-containers_div .button-action .darkpurple {
    background-image: linear-gradient(to right, #e1a2f6, #e1a2f6, #e1a2f6, #c99eeb);
    border-top-left-radius: 20px;
    border: 3px solid white;
    width: 100%;
}

.description-containers .description-containers_div .button-action .normalpurple {
    border: 3px solid white;
    width: 100%;


    background-image: linear-gradient(to right, #c29ced, #ae91f8);


    border-bottom-right-radius: 20px;
}

.section {
    border: 3px solid white;
    border-radius: 10px;
    
    padding: 5px;

}
.section .section-content {
    box-shadow: inset 0px 0px 7px 7px #fff;    
    border-radius: 10px;
    padding:10px;
}

.section .section-content .section-content_title {
    font-size: 2.2em;
    text-transform: uppercase;
    
    font-weight: 900;
}


.section .section-content .section-content_list .list .section-content-list_item {
    list-style: none;
    font-weight: 600;
    font-size: 1.3em;
}

.section .section-content .section-content_list .list .section-content-list_item::before {
    content: "-";
    margin: 0 10px;
}
.section .section-content .section-content_list .result {
 font-style: italic;
 font-weight: 500;
 font-size: 1.2em;
}
.productList1 {
    margin-top:5em; 
}

.productList1 .productlist-container .card-content {
    padding-top:12px ;
   position: relative;
    width: 22em;
    margin: 0 10px;
    
}

.productList1 .productlist-container .card-content .card-img-top {
    /* width: 50%; */
    width: 80%;
    height: 20em;
    margin-top: 1em;
   object-fit: cover;
}

.productList1 .productlist-container  .card .bottom {

    object-position: center ;

}

.productList1 .productlist-container .card-content .green-category {
    width: 7em;


    padding-top: 5px;
    padding-bottom: 5px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-left: 8px;
    color: white;
    font-weight: 700;
    font-style: italic;
    box-shadow: rgba(0,191,0, 0.4) 3px 2.5px;   
     text-transform: uppercase;
    background-color: #01b700;
    border: 3px solid white;


}
.productList1 .productlist-container .card-purple{
    background-image: linear-gradient(to  bottom ,#FDC0FF,#f0e9fe,#e8ffed,#e8ffed);
    margin-left:8px;

    border: 3px solid #fff;
    border-radius: 1.5em;
    padding: 0;
}

.productList1 .productlist-container .card-body .purple-text {
    color: #63469c;
  
}
.productList1 .productlist-container .card-body .card-title {
  
  font-weight: 900;
}
.productList1 .productlist-container .card-body p {
  
    font-weight: 400;
    line-height: 1.2;
  }
  
.productList1 .productlist-container .card-body .btn {
    border-top-left-radius: 25px;
    padding: 0.5em 1em;
    border-bottom-right-radius: 25px;
    color: #644fa5;
    border: 3px solid #65479d;
}

.productList1 .productlist-container .card-body .btn-purple {
    background-image: linear-gradient(to  right ,#FDC0FF,#FDC0FF,#e8ffed,#e8ffed);
}

.productList2 {
    margin-top:5em; 
}

.productList2 .productlist-container .card-content {
    padding-top:12px ;
   position: relative;
    width: 22em;
    
}

.productList2 .productlist-container .card-content .card-img-top {
    /* width: 50%; */
    width: 80%;
    height: 20em;
    margin-top: 1em;
   object-fit: cover;
}

.productList2 .productlist-container  .card .bottom {

    object-position: center ;

}

.productList2 .productlist-container .card-content .purple-category {
    width: 7em;

    padding-top: 5px;
    padding-bottom: 5px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-left: 8px;
    color: white;
    box-shadow: rgba(115,111,255) 3px 2.5px;   
    font-weight: 900;
    text-transform: uppercase;
    background-color: #766dff;
    border: 3px solid white;
    font-style: italic;


}
.productList2 .productlist-container .card-purple{
    background-image: linear-gradient(#c4a1f5, #f4e7ff, #f4e7ff);
    border: 3px solid #fff;
    margin-left:8px;
    border-radius: 1.5em;
    padding: 0;
}

.productList2 .productlist-container .card-body .purple-text {
    color: #63469c;
  
}
.productList2 .productlist-container .card-body .card-title {
  
  font-weight: 900;
}
.productList2 .productlist-container .card-body p {
  
    font-weight: 400;
    line-height: 1.2;
  }
  
.productList2 .productlist-container .card-body .btn {
    border-top-left-radius: 25px;
    padding: 0.5em 1em;
    border-bottom-right-radius: 25px;
    color: white;
    border: 5px solid #fff;
}

.productList2 .productlist-container .card-body .btn-purple {
    background: linear-gradient(to right, #e1a1f5, #e1a1f5, #c98cfe,#c98cfe);
    font-weight: 500;
}

.feedback>.container {
    border-radius: 20px;


    background-color: rgba(255, 255, 255, 0.3);
}

.feedback .container .card-user {

    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.feedback .container .card-user img {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.feedback .container .card-user h4
 {
    color: #87469c;
    
}
.feedback .container .card-user .card-text{
    font-weight: 600;
    color: #87469c;
}
.feedback .container .card-user .card-body {
    margin: 0 20px;
}

.feedback .container .card-user .card-body p {
    margin: 20px 0;
  
}

.yellow {
    color: #ffb211;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 3px;
}

.fa-star {
    font-size: 25px;
}

.feedback .slider {
    -webkit-appearance: none;
    width: 30%;
    height: 25px;
    margin:20px auto;
    
    background: #8987ff;
    outline: none;
    border-radius: 10px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.feedback .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 60px;
    border-radius: 8px;
    height: 18px;
    background: #fff;
    cursor: pointer;
}

.feedback .card-user .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}
.latestupdate{
    margin: 0px auto;
   
}
.latestupdate .latest{
    width: 100%;
    margin: 0 auto;


    display: flex;
    flex-direction: column;
}
.latestupdate .owl-carousel .card {
    height: 500px;
    border: 3px solid #fff;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}
.latestupdate .owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: block;
}
.latestupdate .owl-carousel .nav-btn {
    height: 30em;
    position: absolute;

    cursor: pointer;
    top: 13em;
}



.latestupdate .owl-carousel .prev-slide {
    left: -2.4em;


}

.latestupdate .owl-carousel .next-slide {

    right: -2.4em;
}
.latestupdate .card-content {
    margin: 0 10px;
    padding: 10px 0;

}

.latestupdate  .card-content .card-img-top {
    /* width: 50%; */
    height: 280px;

    object-position: center top;
    object-fit: none;
}

.latestupdate  .card .bottom {

    object-position: center bottom;

}
footer {

    background-image: linear-gradient(to right top, #ccd3ff, #ccd3ff, #ede4ff, #ede4ff);
    min-height: 250px;
    padding: 10px 0;
    position: relative;
    bottom: 0;
}

footer .container-footer {
    bottom: 0;
    
}


footer .container div p {
    font-size: 14px;
    margin: 0 10px;
    color: #595959;
    font-weight: 600;
}
footer .container div ul {
    display: flex;
    list-style-type: none;
    color: #5c3bac;
    font-size: 14px;

}
footer .container div ul li{
    margin:  10px 5px;
    font-weight: 600;
    cursor: pointer;

}
footer .container div ul li a{
    color: #5c3bac;
     text-decoration: none;
  }
footer .container div ul li:after {
 content:"|"
}


footer .container .popup {
    top: -50%;
    right: 0;
    z-index: 70;
    font-size: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}
footer .popup img {
    width: 70%;
}
