.header-container {
    width: 100%;
    background-image: linear-gradient(to right top, #ccd3ff, #ccd3ff, #ede4ff, #ede4ff);


}

header .header-container__navigation {
    width: 95%;
    margin: 0 auto;

}

.header-container__navigation button {
    color: #87469c
}


.header-container .navbar-nav__item {
    margin: 0 15px;
    color: #000;

}

.header-container .nav-link {
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.35em;

}

.header-container .nav-link:hover {
    border-bottom: 2px solid black;
}

.hover {
    border-bottom: 2px solid black;

}

.header-container .navigation__logo img {
    width: 6em;
    object-fit: cover;
    object-position: center;

}

.header-container .navigation__logo .img2 {

    object-fit: cover;
    object-position: center;
    width: 6em;

}




.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.loaded {
    opacity: 1;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    visibility: hidden;
    padding: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content li {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;

    padding: 0.5em;
    text-align: left;
}

.dropdown-content li a {
    font-weight: 600;
    text-transform: uppercase;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content li :hover {
    background-image: linear-gradient(to right top, #ccd3ff, #ccd3ff, #ede4ff, #ede4ff);

    color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    visibility: visible;
}

/* Add this block of CSS for the animation */
@keyframes fadeInside {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 600px) {
    /* Existing styles for mobile view */

    .navbar-nav .dropdown-content {
        animation: fadeInside 3s ease-out;
        position: static;
        right: 0%;
        width: 100%;
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .navbar-nav .dropdown:hover .dropdown-content {
        display: inline-block;
        height: 100%;
        opacity: 1;
        visibility: visible;
    }
}



.QNA .banner {

    width: 100%;
}

.QNA .banner img {

    width: 100%;




}

.QNA .headline {
    margin: 0px auto;
    width: 60%;
}

.QNA .Qna {
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.QNA .Qna .headline img {
    width: 100%;
    object-position: center;
}

.QNA .Qna .Qna__container .Qna__container-shadow {

    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(187, 195, 242, 0.3) 0px 7px 49px 0px;
    width: 80%;
    margin: 2em auto;

}

.QNA .Qna .Qna__container .Qna__container-shadow .Qna__container-item {
    /* background-color: rgba(251, 250, 255,0.2); */
    box-shadow: inset 23px 10px 100px 20px #fff;
    border-radius: 20px;
    padding: 3em;

}

.QNA .Qna .Qna__container .Qna__container-shadow .Qna__container-item h4 {
    color: #65479d;
    font-weight: 900;
    font-size: 25px;
    font-style: italic;
    text-transform: uppercase;
}

.QNA .Qna .Qna__container .Qna__container-shadow .Qna__container-item h4 span {
    font-size: 2.6em;
    margin-right: 10px;
}

.QNA .Qna .Qna__container .Qna__container-shadow .Qna__container-item p {
    color: #8f88ca;
    font-weight: 600;
    font-size: 20px;
}

.QNA .Qna .Qna__container .Qna__container-shadow .Qna__container-item .h6 {
    color: #8f88ca;
    font-style: italic;
    font-size: 14px;
}

footer {

    background-image: linear-gradient(to right top, #ccd3ff, #ccd3ff, #ede4ff, #ede4ff);
    min-height: 250px;
    padding: 10px 0;
    position: relative;
    bottom: 0;
}

footer .container-footer {
    bottom: 0;

}


footer .container div p {
    font-size: 14px;
    margin: 0 10px;
    color: #595959;
    font-weight: 600;
}

footer .container div ul {
    display: flex;
    list-style-type: none;
    font-size: 14px;

}

footer .container div ul li {
    margin: 10px 5px;
    font-weight: 600;
    cursor: pointer;

}

footer .container div ul li a {
    color: #5c3bac;
    text-decoration: none;
}

footer .container div ul li:after {
    content: "|"
}

footer .container div ul li:last-child:after {
    content: ""
}


footer .container .popup {
    top: -50%;
    right: 0;
    z-index: 70;
    font-size: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

footer .popup img {
    width: 70%;
}