.header-container {
  width: 100%;
  background-image: linear-gradient(to right top, #ccd3ff, #ccd3ff, #ede4ff, #ede4ff);


}

header .header-container__navigation {
  width: 95%;
  margin: 0 auto;

}

.header-container__navigation button {
  color: #87469c
}


.header-container .navbar-nav__item {
  margin: 0 15px;
  color: #000;

}

.header-container .nav-link {
  color: #000;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.35em;

}

.header-container .nav-link:hover {
  border-bottom: 2px solid black;
}

.hoverActive {
  border-bottom: 2px solid black;

}

.header-container .navigation__logo img {
  width: 6em;
  object-fit: cover;
  object-position: center;

}

.header-container .navigation__logo .img2 {

  object-fit: cover;
  object-position: center;
  width: 6em;

}
.dropdown-content {
  visibility: hidden;
  padding: 0;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content li {
  color: black;
  text-decoration: none;				
  display: block;
  width: 100%;
  
  padding: 0.5em;
  text-align: left;
}
.dropdown-content li a {
    font-weight: 600;
    text-transform: uppercase;
}
/* Add a grey background to dropdown links on hover */
.dropdown-content li :hover {
    background-image: linear-gradient(to right top, #ccd3ff, #ccd3ff, #ede4ff, #ede4ff);

  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    visibility:visible ;
}
/* Add this block of CSS for the animation */
@keyframes fadeInside {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media screen and (max-width: 600px) {
    /* Existing styles for mobile view */
  
    .navbar-nav .dropdown-content {
      animation: fadeInside 3s ease-out;
      position: static;
      right: 0%;
      width: 100%;
      display: none;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s, visibility 0.3s;
    }
  
    .navbar-nav .dropdown:hover .dropdown-content {
    display: inline-block;
    height: 100%;
      opacity: 1;
      visibility: visible;
    }
  }
  

.bannerTop {
  background-image: url("/assets/images/Top_Banner.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  height: 30em;

}

.container-card .cardContent .cardContent__item .card-content__item__title-shadow {
  width: 8em;
  box-shadow: 6px 7px 0px #a6aff2;
  border-radius: 40px;
  margin: 1.2em 0
}

.container-card .cardContent .cardContent__item .card-content__item__title-shadow .card-content__item__title {
  width: 100%;
  border: 3px solid white;
  box-shadow: #fff 0px 0px 20px 0px;
  border-radius: 40px;


}

.container-card .cardContent .cardContent__item .card-content__item__title-shadow .card-content__item__title .title {
  font-size: 3em;
  width: 100%;
  box-shadow: inset #fff 0px 0px 14px 0px;
  background-color: #7571fa;
  height: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin: 0;
  color: white;
  font-weight: 700;
  text-transform: uppercase;

}

.container-card .cardContent .cardContent__item {
  flex-basis: 33.33%;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 2em 0;
  padding: 1em;
  box-sizing: border-box;
}


.container-card .cardContent .cardContent__item .card {
  background: none;
  border: none;
  height: 100%;


}

.container-card .cardContent .cardContent__item .question-word span {
  color: #5e40a4;
  font-weight: 700;
  margin-left: 2em;
  font-size: 2em;
  display: inline-block;
}

.container-card .cardContent .cardContent__item .card .nopad {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Image gallery */
.container-card .cardContent .cardContent__item .card .image-checkbox {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid transparent;
  margin-bottom: 0;
  outline: 0;
  position: relative;
}

.container-card .cardContent .cardContent__item .card .image-checkbox input[type="checkbox"] {
  display: none;
}

.container-card .cardContent .cardContent__item .card .image-checkbox-checked {
  border-color: #4f5088;
  border-radius: 25px;
  width: fit-content;

}

.container-card .cardContent .cardContent__item .card .image-checkbox .fa {
  position: absolute;
  color: #fff;
  padding: 10px;
  top: 70%;
  right: 40%;
  font-size: 24px;
  display: none;
}

.container-card .cardContent .cardContent__item .card .image-checkbox-checked .fa {
  display: block;
}

.container-card .cardContent .cardContent__item .card .image-checkbox .content {
  position: absolute;
  top: 35%;
  left: 5%;
  width: fit-content;
  margin: 1em auto;
  content: '\f104';
  color: white;
  font-size: 16px;
  text-shadow: 1px 1px 1px black;
}

.container-card .cardContent .cardContent__item .card .nopad {
  border-radius: 20px;
  margin: 7px;
padding: 0;

}

.container-card .cardContent .cardContent__item .card .nopadText {
  padding-left: 0 !important;
  padding-right: 0 !important;

}

.container-card .cardContent .cardContent__item .card .nopadText .image-checkbox {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid #7960bb;
  border-radius: 30px;
  font-size: 1em;
  padding: 1em;
  font-weight: 700;
  color: #8683bc;
  margin-bottom: 0;
  outline: 0;
  position: relative;
}

.container-card .cardContent .cardContent__item .card .nopad .image-checkbox img {
  width: 180px;
  border-radius: 22px;
}

.container-card .cardContent .cardContent__item .card .nopadText .image-checkbox-checked {
  background-image: linear-gradient(to bottom, #ddcbfd, #a686ff);
  color: #fff
}

#handlesubmit {
  background-color: #7571fa;
  font-size: 22px;
  border: 4px solid #fff;
  margin: 26px 0;
}

.render-result_content {
  position: relative;
  min-height: 20em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  
  background-image: url("/assets/images/Top_Banner.png");
}

.custom-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.custom-spinner {
  padding: 20px;
  text-align: center;
  position: relative;
}

.spinner-inner {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-text {
  margin-top: 10px;
  font-size: 22px;
  color: #fff;
  animation: spin 1s infinite;

}
.white-color{
  margin:20px auto;
  color: white;
  font-size: 22px;
  display: flex;
  justify-content: center;
}

.product {
  width: 100%;
  margin: 0 auto;


  display: flex;
  flex-direction: column;
}

.return-result .headline img {
  width: 100%;
  object-position: center;
}

.return-result >.headline {
  margin: 0px auto;
  width: 60%;
}
.return-result .container-content{
  box-shadow: inset 23px 10px 100px 20px #fff;
  border-radius: 20px;
  padding: 4em;
  width: 70%;
  text-align: center;

}
.return-result .container-content h4{
  color: #65479d;
  font-weight: 900;
  font-size:2.4em;
  line-height: 0.8;
  text-transform: uppercase;
}

.return-result .container-content h5{
  background: -webkit-linear-gradient(left, #b7e2cf 50% ,#d7d1dd 40% ,#b7e2cf 30%, #edc1ff 91%);
 font-size: 1.9em;
  font-weight: 800;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   text-transform: capitalize;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:#8683bc;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  font-family: "Inter", sans-serif;
}
.return-result .container-content p{
  color:#8e8dc7;
  padding: 0 3em;
  margin-top: 20px;
   font-weight: 600;
}
.return-result  .image-container{
  margin:  auto;
  
  width: 80%;
}
.return-result .image-container .col-xl-3{
  border-radius: 20px;
  border: 5px solid white ;
  margin: 10px 10px;
  padding: 0;

}
.return-result .image-container .col-xl-3 img{
  width: 100%;
  height: 100%;
  border-radius: 20px;

}
footer {

  background-image: linear-gradient(to right top, #ccd3ff, #ccd3ff, #ede4ff, #ede4ff);
  min-height: 350px;
  padding: 10px 0;
  position: relative;
  bottom: 0;
}

footer .container-footer {
  bottom: 0;
  
}


footer .container div p {
  font-size: 14px;
  margin: 0 10px;
  color: #595959;
  font-weight: 600;
}
footer .container div ul {
  display: flex;
  list-style-type: none;
  font-size: 14px;

}
footer .container div ul li{
  margin:  10px 5px;
  font-weight: 600;
  cursor: pointer;

}
footer .container div ul li a{
  color: #5c3bac;
   text-decoration: none;
}
footer .container div ul li:after {
  content: "|"
}

footer .container div ul li:last-child:after {
  content: ""
}


footer .container .popup {
  top: -50%;
  right: 0;
  z-index: 70;
  font-size: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}
footer .popup img {
  width: 70%;
}



@keyframes spin{
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}


