/* Media queries for screens up to 500px width */
@media only screen and (max-width: 500px) {
    /* Already provided */
}

/* Media queries for screens between 501px and 574px width */
@media only screen and (min-width: 501px) and (max-width: 574px) {
    /* Already provided */
}

/* Media queries for screens between 575px and 767px width */
@media only screen and (min-width: 575px) and (max-width: 767px) {
    /* Already provided */
}

/* Media queries for screens between 768px and 990px width */
@media only screen and (min-width: 768px) and (max-width: 990px) {
    .tab-slider-gallery .container-tabs {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .tab-slider-gallery .container-tabs .card-body {
        margin: 0 0.5em;
    }

    .popup {
        right: -1.4em;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    .header-container .nav-link {
        font-size: 1.7em;
        white-space: nowrap;
    }
}

/* Media queries for screens between 991px and 1200px width */
@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .tab-slider-gallery .description-containers {
        margin: 2em 0px;
    }
}

/* Media queries for screens between 1201px and 1288px width */
@media only screen and (min-width: 1201px) and (max-width: 1288px) {
    .description-containers .description-containers_div .description-containers_title {
        width: 75%;
    }

    .productlist-container {
        display: flex;
        justify-content: center;
    }

    .header-container__navigation .navigation__content .navbar-nav .navbar-nav__item .nav-link {
        font-size: 18px;
        display: block;
    }

    .header-container .nav-link {
         font-size: 1.2em; 
        white-space: nowrap;
    }
}

/* Media queries for screens between 992px and 1062px width */
@media only screen and (min-width: 992px) and (max-width: 1062px) {
    .header-container .nav-link {
        font-size: 1.2em;
        white-space: nowrap;
    }

    .header-container__navigation .navigation__logo .img2 {
        width: 5em;
    }

    .header-container__navigation .navigation__logo img {
        width: 6em;
    }
}

/* Media queries for screens between 1065px and 1242px width */
@media only screen and (min-width: 1065px) and (max-width: 1242px) {
    .pagination__container .data-container .card {
        width: 100%;
        max-height: 300px;
        height: 100%;
    }

    .product .owl-carousel .card-product-item .green-bg p {
        -webkit-text-stroke-width: 1.5px;
        font-style: italic;
        font-size: 27px;
        width: 100%;
        padding-left: 1.2rem;
        text-align: left;
        -webkit-text-stroke-color: #01b700;
        opacity: 0.95;
        font-weight: 900;
        font-family: 'Kanit', sans-serif;
    }

    .product .owl-carousel .card-product-item .purple-bg p {
        -webkit-text-stroke-width: 1.5px;
        font-style: italic;
        font-size: 27px;
        width: 90%;
        font-weight: 900;
        font-family: 'Kanit', sans-serif;
        -webkit-text-stroke-color: #353980;
    }

    .header-container .nav-link {
        font-size: 1.4em;
        padding: 0;
        white-space: nowrap;
    }

    .card-content {
        margin: 0 7px;
    }

    .header-container__navigation .navigation__logo .img2 {
        width: 5em;
    }

    .header-container__navigation .navigation__logo img {
        width: 7em;
    }
}