 @media only screen and (max-width: 500px) {
    .pagination__container .data-container .card {
            width: 100%;
            max-height: 50%;
            height: 100%;
        }
     .product .owl-carousel .card-product-item img {
         height: 25em;
     }

     .product .owl-carousel .card-product-item .card-product-action p {
         font-size: 18px;

     }

     .product .owl-carousel .card-product-item .card-product-action .button-action .btn {
         font-size: 12px;
     }

     .tab-slider-gallery .container-tabs {
        display: flex;
        align-items: center;
    }
    .tab-slider-gallery .container-tabs .card-body {
        margin: 0 0.5em;
    }
    .tab-slider-gallery .container-slider-image .owl-carousel img{
        height: 25em;
        width: 100%;
     }
 }

 @media only screen and (min-width: 501px) {
   
     .tab-slider-gallery .container-tabs {
         display: flex;
         align-items: center;
     }

     .tab-slider-gallery .container-tabs .card-body {
         margin: 0 0.7em;
     }
   
 }
 @media only screen and (max-width: 574px){
    .card-user > div:nth-child(3) {
        order: -1;
      }
      .description-containers .description-containers_div {
     padding: 1em;  
    }
    .description-containers .description-containers_div .description-containers_title h3 {
        font-size: 1.2em;
        width: 100%;
    }
    .description-containers .description-containers_div .description-containers_content .content-div{
        margin: 1em;
    }
 }
 @media only screen and (max-width: 767px) {

     /* Display the icon bar on small screens */
     .headline {
         margin: 0px auto;
         width: 100%;
     }

     .navbar-icon-bar {
         display: block;
     }

     /* Hide the logo on small screens */
     .navbar-logo {
         display: none;
     }

     .container-tab .button-tab-action .btn {
         font-size: 1.02em;

     }
    
     .tab-slider-gallery .container-slider-image .owl-carousel img{
        height: 30em;
        margin: 0 auto;
        
     }
     .tab-slider-gallery .container-tabs .card-body {
       height: 10em;
       
     }
 }

 @media only screen and (max-width: 490px) {


     .tab-slider-gallery .container-tabs {
         display: flex;
         align-items: center;
     }

     .container-tab .button-tab-action .btn {
         font-size: 0.7em;
         flex-basis: 40%;
       
         padding:  10px 10px;
     }
    
     .tab-slider-gallery .container-tabs {
        margin: 10px 0;
    }
    
    .tab-slider-gallery .container-tabs .card-body{
        flex-basis: 10px;
        margin: 0 10px;
        height: 8em;
    }
      .tab-slider-gallery .container-slider-image .owl-carousel img{
        height: 100%;
        
     }
     .input-container {
         height: 3em;
         margin: 1em 0;
     }
     .input-container .btn {
        font-size: 10px;
        
     }
     .input-container .icon {
        font-size: 10px;
     }
     .input-container .container-tab .button-tab-action {
         display: flex;
         justify-content: center;
         flex-direction: row;
         align-items: center;
     }
 }

 @media only screen and (min-width: 768px) {
     /* Display the logo on larger screens */
    
.pagination__container .data-container .card {

        max-height: 450px;
        height: 100%;
    }

     .tab-slider-gallery .container-tabs {
         display: flex;
         align-items: center;
     }

     .tab-slider-gallery .container-tabs {
         margin: 0;
     }

     .tab-slider-gallery .container-tabs .card-body {
         margin: 0 0.5em;
     }
     .popup{
        right: -1.4em;
     }
     
     
    
 }

 @media only screen and (max-width: 1000px) {
  
     .product .youtube {
         width: 80%;
         height: 20em;

     }

     .product .youtube iframe {
         width: 40em;
     }

     .container-slider-image {
         order: -1;
     }
    
 }

 @media only screen and (max-width: 1200px) {

     /* .tab-slider-gallery .container-tabs{
        display: flex;
       
        width: 100%;

    }
    .tab-slider-gallery .container-tabs .card-body {
        flex-basis: 30%;
        margin:0 10px   
    } */
     .tab-slider-gallery .description-containers {
         margin: 2em 0px;

     }
     /* .productlist-container {
        background-color: aquamarine;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }       */
 }
 
 @media only screen and (max-width: 1288px){
    .description-containers .description-containers_div .description-containers_title {
        width: 75%;
       
    }
  .productlist-container {
    display: flex;
    justify-content: center;
  }
  .header-container__navigation .navigation__content .navbar-nav .navbar-nav__item .nav-link{
    font-size: 18px;
    display: block;
    
  }
  
.header-container .nav-link{
    font-size:1.1em;
    white-space: nowrap;
}
 }
 @media  only screen and (min-width: 992px) and (max-width:1062px){
    .header-container .nav-link{
        font-size:0.9em;
        white-space: nowrap;
    }
    .header-container__navigation .navigation__logo .img2{
        width: 4em;
      }
      .header-container__navigation .navigation__logo img{
        width: 4em;
      }
}
 @media only screen and (min-width: 1065px) and (max-width: 1242px){
    .pagination__container .data-container .card {
            width: 100%;
            max-height: 300px;
            height: 100%;
        }
    .header-container .nav-link{
        font-size:1em;
        white-space: nowrap;
    }
    .card-content{
        margin: 0 7px;
    }
   
      .header-container__navigation .navigation__logo .img2{
        width: 5em;
      }
      .header-container__navigation .navigation__logo img{
        width: 5em;
      }

    }
  