* {
    margin: 0;
  
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    max-width: 4500px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("/assets/images/BG.png");
}
.navbar-expand-lg .navbar-nav .nav-link{
            padding:0
        }
.btn{
    border-radius: 0;
}
.purpleDark {
    color: #65479d;
    
}
.greenDark{
    color: #01b700;

}
.bg-whiteNormal{
    background: #ebe7ff;
}
.bg-Natural{
 background-color: #f9e7ff;
}
.purpleNormal{
    color:#8c4da1;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
/* Add this to your stylesheet or in a style tag in the head of your HTML document */
.fadein {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;}

.fadein.active {
    transform: translateX(0);
      opacity: 1;

}
.rightin  {
    transform: translateX(3%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}
.rightin.active{
    transform: translateX(0);
    opacity: 1;

}
.pinkColor{
    color :""
}