* {
    margin: 0;
  
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    max-width: 4500px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("/assets/images/backgroundimage.jpg");
}
.btn{
    border-radius: 0;
}
.purpleDark {
    color: #65479d;
  
}
.greenDark{
    color: #01b700;

}
.bg-whiteNormal{
    background: #ebe7ff;
}
.purpleNormal{
    color:#8c4da1;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
