* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("../assets/images/backgroundimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.owl-carousel .nav-btn{
    height: 30em;
    position: absolute;

    cursor: pointer;
    top: 13em;
  }
 
  .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
    display: block;
  }
  
  .owl-carousel .prev-slide{
    left: -2.4em;
 
  
}
  .owl-carousel .next-slide{
  
    right: -2.4em;
  }
  

header.header-container {
    background-color: #c9cfff;
    width: 100%;
    
}

header  .header-container__navigation {

    margin:0 auto;
   
}


header .header-container__navigation .navigation{
    width: 100%;
}
.header-container__navigation .navigation__content .navbar-nav .navbar-nav__item {
    margin: 0 15px;
    color: #000;
    font-size: 18px;
}

.header-container__navigation .navigation__content .navbar-nav .navbar-nav__item .nav-link {
    color: #000;
    text-transform: uppercase;
}

.header-container__navigation .navigation__logo img {
    
    object-position: center;

}

.header-container__navigation .navigation__logo .img2 {
    
    object-fit: cover;
    object-position: center;


}



.banner {

    width: 100%;
}

.banner img {

    width: 100%;




}

.headline {
    margin: 0px auto;
    width: 60%;
}

.best-seller img {
    width: 100%;
    
    object-position: center;

}


.best-seller .container-carousel {

    margin-top: 40px;
}


.carousel-control-prev {
    left: -20px;
}

.best-seller .owl-carousel .card-purple {
    background-image: linear-gradient(#c4a1f5, #f4e7ff, #f4e7ff);

}
.card-content{
    margin:0 10px;
    padding: 10px 0;
   
}
.card-content .card-img-top {
    /* width: 50%; */
    height: 280px;

    object-position: center top;
    object-fit: none;
}

.card .bottom {

    object-position: center bottom;

}

.card-content  .purple-category {
    width: 7em;
  
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-left: 7px;
    color: white;
    text-transform: uppercase;
    background-color: #766dff;
    border: 5px double white;


}

.card-content .green-category {
    width: 7em;
 

    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-left: 7px;
    color: white;
    text-transform: uppercase;
    background-color: #01b700;
    border: 5px double white;
}

.card-body .purple-text {
    color: #8c4da1;
}

.card-body .green-text {
    color: #01b700;
}

.card-body .btn {
    border-top-left-radius: 25px;
    padding: 0.5em 1em;
    color: white;
}

.card-body .btn-purple {
    background: linear-gradient(to right, #c5a1f5, #c59ef6, #c98cfe);
}

.card-body .btn-green {
    background: linear-gradient(to right, #76be83, #5db36a, #38a041);
}

.recipe {
   
    background-color: rgba(255, 255, 255, 0.3);
   
 
    padding: 20px 20px;
}
.recipe .recipe-container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items:flex-start;
}
.recipe .recipe-container .recipe-item {
    display: flex;
        padding: 1.2em;
    align-items: center;
    flex-direction: column;
}
.recipe .recipe-container .recipe-item h5{
    font-size: 1.4rem;
    color: #87479c;
    font-style: italic;
    font-weight: bolder;
}
.recipe .recipe-container .recipe-item img {
    width: 9em;
}
.recipe .recipe-container .recipe-item .icon-image {
    width: 22em;
}
.product {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    margin: 0 auto;

    
    display: flex;
    flex-direction: column;
}
.product .headline img {
    width: 100%;
    object-position: center;
}


.product .owl-carousel .card-product-item{
    position: relative;
}
.product .owl-carousel  .card-product-item .card-product-action {
    position: absolute;
    bottom: 0;
  
    width: 100%;


}

.product .owl-carousel .card-product-item img {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    max-height: 35em;
   
    border-top-left-radius: 30px;

}


.product .owl-carousel .card-product-item .green-bg {
    background-color: #daefc8;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
.product .owl-carousel .purple-bg {
    background-color: #dfc3fa;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
.product .owl-carousel  .card-product-item .card-product-action p {
    -webkit-text-stroke-width: 1px;
    font-style: italic;
    font-weight: bolder;
    font-size: 36px;
    -webkit-text-stroke-color: #01b700;
}

.product .owl-carousel .card-product-item .purple-bg p {
    -webkit-text-stroke-width: 1px;
    font-style: italic;
    font-weight: bolder;
    font-size: 36px;
    -webkit-text-stroke-color: #353980;
}

.product .owl-carousel .card-product-item .card-product-action .button-action .btn {

    width: 45%;
    margin: 0 4px;
    padding: 0.5em 1em;
    color: white;

}

.product .owl-carousel .card-product-item .card-product-action .button-action .darkgreen {
    background-color: #036040;
    border-top-left-radius: 20px;
    border: 4px solid white
}

.product .owl-carousel .card-product-item .card-product-action .button-action .normalgreen {
    border: 4px solid white;
    background-color: #5a985f;
    border-bottom-right-radius: 20px;
}





.product .owl-carousel .card-product-item .card-product-action .button-action .darkpurple {
    background-color: #353980;
    border-top-left-radius: 20px;
    border: 4px solid white
}

.product .card-product-item .card-product-action .button-action .normalpurple {
    background-color: #9077b5;
    border-bottom-right-radius: 20px;
    border: 4px solid white;
}


.product .youtube {
    position: relative;
    width: 60%;
    height: 26em;
    margin: 10px auto;
    padding-top: 20%; 
}
.product .youtube iframe{
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius:20px;
    
}

.feedback .card-user {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.feedback .card-user img {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.feedback .card-user h4,
p {
    color: #87469c;

}

.feedback .card-user .card-body {
    margin: 0 20px;
}

.feedback .card-user .card-body p {
    margin: 20px 0;
}

.yellow {
    color: #ffb211;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 3px;
}

.fa-star {
    font-size: 25px;
}

.feedback .card-user .slider {
    -webkit-appearance: none;
    width: 40%;
    margin: auto;
    height: 25px;
    background: #8987ff;
    outline: none;
    border-radius: 10px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.feedback .card-user .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 60px;
    border-radius: 8px;
    height: 18px;
    background: #fff;
    cursor: pointer;
}

.feedback .card-user .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}



.latestupdate  .owl-carousel .card {
    height: 500px;
    background-color: rgba(255, 255, 255, 0.3);
}

footer {
  
    background-color: #d0d0ff;
    min-height: 250px;
    padding: 10px 0;
    position: relative;
    bottom:0;
}
footer .container{
    bottom: 0;
}
footer .container .img-footer {
    width: 15em;
    height: 25%;
}

footer .container .row p {
    font-size: 14px;
    margin: 0 10px;
    font-weight: 600;
}

footer .container .row h6 {
    font-weight: bold;
    font-size: 20px;
    color: #87469c;

}

.content4 img {
    
    background-color:#04AA6D ;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.loaded {
    opacity: 1;
}

.popup {
    top: -200px;
    font-size: 20px;
    right: 0px;

    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
}

.popup .icon-item {
    width: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 100px;
    background-color: #a37cff;
}

.popup .icon-item .icon {
    color: #ff90e2;


    width: 100%;

    text-align: center;
}

.popup .icon-item1 .icon1 {
    color: #a37cff;
    width: 100%;
    text-align: center;
}

.popup .icon-item1 {
    width: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 100px;
    background-color: #fff;
}
.carousel-inner{
    padding: 1em;
}

.card{
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

